html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #212121;
}

a, a:visited {
    color: inherit;
}

.notes {
    display: flex;
    height: 100%;
}

.notes * {
    font-family: sans-serif;
}

.notes_listing {
    flex-shrink: 0;
    overflow-y: auto;
    padding: 5px;
    width: 98%;
    height: 100%;
    scrollbar-width: none;
    background-color: #212121;
}

.notes__sidebar {
    border-right: 1px solid #dddddd;
    flex-shrink: 0;
    overflow-y: auto;
    width: 50%;
    height: 100%;
    overflow-y: hidden;
}


.notes__list_item__selected {
    background: #424242;
    border-radius: 7px;
    font-weight: bold;
}

.notes__small-title,
.notes__small-updated {
    padding: 10px;
}

.notes__small-title {
    font-size: 1.2em;
    color: #aaaaaa;
}

.notes__small-body {
    padding: 0 10px;
    color: #aaaaaa;
    word-wrap: break-word;
}

.notes__small-updated {
    color: #aaaaaa;
    font-style: italic;
    text-align: right;
}

.note .close {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border: none;
}

.notes__preview {
    display: flex;
    flex-direction: column;
    padding: 1em 1em;
    flex-grow: 1;
}

.notes__body {
    border: none;
    outline: none;
    width: 100%;
}


.notes__body {
    flex-grow: 1;
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 2em;
    resize: none;
}


.modal {
    padding-top: 100px; /* Location of the box */
    overflow: auto; /* Enable scroll if needed */}
    
.modal-content {
    background-color: #212121;
    margin: auto;
    border: 0px solid #888;}

.modal-header {
    color: #aaaaaa;}
.form-container {
    max-width: 100%;
    background-color: #212121;}
.form-container input[type=text], .form-container textarea[type=text] {
    width: 92%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #424242;
    resize: none;}
.form-container input[type=text]:focus, .form-container textarea[type=text]:focus {
    background-color: #ddd;
    outline: none;}
.form-container .btn {
    background-color: #BB86FC;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;}
.form-container .btn:hover, .open-button:hover {
    opacity: 2;}